<br>
<br>
<br>
<br>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ .title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="form-task" action="/task/store" method="POST">
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Isi Task</label>
                    <input type="text" name="isi_task" value="{{ .task.IsiTask }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Pegawai</label>
                    <input type="text" name="pegawai" value="{{ .task.Pegawai }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Deadline</label>
                    <input type="date" name="deadline"  value="{{ .task.Deadline }}" class="form-control">
                </div>
                <!--input option-->
                <div class="form-group">
                    <label for="">Status</label>
                    <select name="status" class="form-control">
                        <option {{ if eq .task.Status `Done` }} selected {{ end }} value="Done">Done</option>
                        <option {{ if eq .task.Status `OnProgress` }} selected {{ end }} value="On Progress">On Progress</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                {{ if .task.Id }}
                    <input type="hidden" name="id" value="{{ .task.Id }}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa-solid fa-square-xmark"></i> Tutup</button>
                    <button type="submit" class="btn btn-success"><i class="fa-solid fa-square-pen"></i> UBAH DATA</button>
                {{ else }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa-solid fa-square-xmark"></i> Tutup</button>
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> SIMPAN</button>
                {{ end }}
            </div>
        </form>
    </div>
</div>